{% extends "base.html" %}

{% block page_title %}
    ToDo - Lista de Tarefas
{% endblock page_title %}

{% block content %}
    <h1>Lista de Tarefas</h1>

    {% if todo_list %} <!--CBV-->
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Criado Em</th>
                <th scope="col">Data de Entrega</th>
                <th scope="col">Finalizado Em</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
                {% for todo in todo_list %}
                    <tr>
                        <th scope="row">{{ todo.pk }}</th> <!--Primary Key-->
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.created_at }}</td>
                        <td>{{ todo.deadline }}</td>
                        <td>{{ todo.finished_at|default:"-" }}</td> <!--Usando filtro com pipe e default-->
                        <td>
                            <a href="#" class="btn btn-outline-primary btn-sm">Concluir</a>
                            <a href="{% url 'todo_update' pk=todo.pk %}" class="btn btn-outline-warning btn-sm">Editar</a>
                            <a href="{% url 'todo_delete' pk=todo.pk %}" class="btn btn-outline-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>
    {% else %}
        <h4>Nenhuma tarefa cadastrada!</h4>
    {% endif %}

    <a href="{% url 'todo_create' %}" class="btn btn-outline-success">Criar Tarefa</a>


{% endblock content %}

        